<%- include header %>

<div class="jumbotron">
	<div class="container">
		<h1>welcome to microblog</h1>
		<p>this is a website system of blog</p>
		<p><a class="btn btn-primary" href="#" role="button">登陆</a>
		<a class="btn btn-default" href="#" role="button">注册</a></p>
	</div>
</div>


<div class="container">
<div class="row">
	<div class="col-md-4">
		<h2>LESS</h2>
		<p>LESS为CSS赋予了动态语言的特性，如变量、继承、运算、函数。LESS既可以在客户端上运行 (支持IE 6+、Webkit、Firefox)，也可以借助Node.js或者Rhino在服务端运行。 </p>
	</div>
	<div class="col-md-4">
		<h2>Buttons</h2>
		<p>Buttons 是一个基于 Sass 和 Compass 构建的CSS按钮（button）样式库，图标采用的是Font Awesome，可以和Bootstrap融合使用。 </p>
	</div>
	<div class="col-md-4">
		<h2>Flat UI</h2>
		<p>Flat UI是基于Bootstrap做的Metro化改造，由Designmodo提供。Flat UI包含了很多Bootstrap提供的组件，但是外观更加漂亮。在此强烈推荐！ </p>
	</div>
</div>
</div>

<%- include footer %>
